extends layout

block extrahead
  script(src='/socket.io/socket.io.js')

  script
    /**
      @method Converts a rgb color to hex 
    */
    function colorToHex(color) {
      if (color.substr(0, 1) === '#') {
          return color;
      }
      var digits = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.exec(color);
      
      var red = parseInt(digits[2]);
      var green = parseInt(digits[3]);
      var blue = parseInt(digits[4]);
      
      var rgb = blue | (green << 8) | (red << 16);
      return digits[1] + '#' + rgb.toString(16);
    };
    /**
      @method Draws a colored rect depending on the value
    */
    function drawRect(value){
        console.log("DRAWING!"); console.log(value);
        var c = document.getElementById("drawCanvas");
        var ctx = c.getContext("2d");

        // clear old drawings
        ctx.clearRect(0, 0, c.width, c.height);
        
        // Create gradient
        var grd=ctx.createRadialGradient(c.width/2,c.height/2,value/5,c.width/2,c.height/2,value);
        grd.addColorStop(0,"yellow");
        grd.addColorStop(1,"black");

        // Fill with gradient
        ctx.fillStyle=grd;
        ctx.fillRect(0,0,c.width, c.height);

        // add text
        ctx.font="18px Helvetica";
        ctx.fillStyle = 'white';
        ctx.textAlign = 'right';
        ctx.fillText(value+"%", c.width - 5 , c.height-10);
    }

  script(type='text/javascript')
    // open a connection to the serial server:
    var socket = io.connect('http://#{ipaddress}');
    // when you get a serialdata event, do this:
    socket.on('serialEvent', function (data) {
      // look for the textDisplay element in the HTML below:
      var element = document.getElementById('textDisplay');
      // set the stuff inside the element's HTML tags to
      // whatever the 'value' property of the received data is:
      var values = JSON.parse(data.value);
      element.innerHTML = "Thermistor has value: " + values.thermistor;
      // will colotr the rect based on the ambient light
      // Zero light = 1024 so inverting result - and then converting 
      //  to its matching percent (*100/1024)
      drawRect( Math.round((1024 - values.thermistor)*100/1024) );
    });
    // handshake
    socket.on('message', function (data) {
      
      console.log("FOUND HELLO! => " + data);
      // look for the textDisplay element in the HTML below:
      var element = document.getElementById('textDisplay');
      // set the stuff inside the element's HTML tags to
      // whatever the 'value' property of the received data is:
      element.innerHTML = "HELLOOOOO!";
    });

block content
  h1= title
  p  Welcome to #{title} running on 
  a(href="http://#{ipaddress}")  IP
  p Message from arduino:
  | 
  #textDisplay Text will show up here

  canvas(width=200, height=100)#drawCanvas

  // Draw canvas script
  script(type='text/javascript')
    $( document ).ready(function() {

      

    });